<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>A Guide to Rabi-Ribi Map Editing</title>

{% seo title=false %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="{{ '/' | absolute_url }}">Home</a></li>
          <li class="fork"><a href="{{ site.github.repository_url }}/tree/master/docs">Detailed Docs</a></li>
          
          <li class="downloads"><a href="http://www.mapeditor.org/">Tiled Map Editor</a></li>
          <li class="downloads"><a href="https://github.com/wcko87/rabiribi-map-editing/files/1283420/rabiribi-tilesets.zip">Tileset Files</a></li>
          <li class="downloads"><a href="https://ci.appveyor.com/project/wcko87/rbrb-map-converter/build/artifacts">Map Converter</a></li>
          <li class="title">DOWNLOADS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <a href="{{ '/' | absolute_url }}">
            <h1><b>Rabi-Ribi Map Editor</b></h1>
          </a>
          <p>A Guide to Rabi-Ribi Map Editing</p>
          <hr>
          <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <script>
      <!-- CODE TO DISPLAY GFYCAT GIFS. -->
      $( document ).ready(function() {
      var url = 'https://api.gfycat.com/v1/gfycats/'
        $('.gfyitem').each(function(index) {
          var gifID = $(this).attr('data-id');
          var itemImg = $(this);
          $.ajax({
            url:url+gifID, type:"GET", dataType:"text",
            success: function( textData ) {
              var data = JSON.parse(textData);
              var videoString = '<div id="'+gifID+'"><video style="width:100%;max-width:800px;height:auto;" loop="true" autoplay="true" muted><source src="'
              +data.gfyItem.mobileUrl+
              '" type="video/mp4" media="all and (max-width:480px)"><source src="'
              +data.gfyItem.webmUrl+
              '" type="video/webm"><source src="'
              +data.gfyItem.mp4Url+
              '" type="video/mp4"></video></div>';
              itemImg.replaceWith(videoString);
            }
          });
        })
      })
    </script>
  </body>
</html>
